<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <span style="text-transform: capitalize;padding-left: 5px;"> </span>

  <li class="breadcrumb-menu">
    <app-actionbtn [buttons]="buttons" (onaction)="buttonClicks($event)" [isfav]="isfav"></app-actionbtn>

  </li>
</ol>

<div class="fixed-content">

  <form name="form" #f="ngForm" novalidate (ngSubmit)="f.form.valid && save()">


    <div class="row">
      <div class="col-md-3 "></div>
      <div class="col-md-6 ">

        <div *ngFor="let key of templateList;let i = index;">
          <div class="ui-card ui-widget ui-widget-content ui-corner-all p-3 pl-1 pr-5 d-flex mb-3"
            style="border-left:4px solid rgb(212, 181, 0);border-radius: 5px;padding-left: 10px;">
            <div class="handle" style="width: 40px;justify-content: center;
            display: flex;
            align-items: center;">
              <div class="ui-card ui-widget ui-widget-content text-bold" style="    padding: 7px;
              position: absolute;
              left: 4px;
              text-align: center;">
                {{i + 1}}
              </div>
              <i class="fa fa-arrows fa-2x text-secondary"></i>
            </div>

            <app-rec-control style="flex: 1;"></app-rec-control>


          </div>
        </div>
        <div class="p-2 mt-3">
          <button class="btn btn-warning btn-block" (click)="addnewTemplate()"><i class="fa fa-user-plus"></i> Add
            More
            Recipient</button>
        </div>

      </div>
      <div class="col-md-3 "></div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 "></div>
      <div class="col-md-6 ">
        <p-card>
          <div class="form-group">
            <div class="form-group">
              <label> Subject</label><span class="text-danger">*</span>
              <input class="form-control" id="usrname" name="usrname" #usrname="ngModel" type="text"
                [(ngModel)]="form.name" autocomplete="off" required tabindex="2" placeholder=" Name" minlength="1"
                maxlength="50">
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label> Email Body</label><span class="text-danger">*</span>
              <textarea class="form-control" rows="4" id="usrname" name="usrname" type="text" autocomplete="off"
                required tabindex="2" placeholder=" Name" minlength="1" maxlength="50"></textarea>

            </div>
          </div>
        </p-card>
      </div>
      <div class="col-md-3 "></div>
    </div>
    <!-- <div class="row mt-3">
      <div class="col-md-3 "></div>
      <div class="col-md-6 ">
        <div class="p-2 mt-3">
          <button class="btn btn-success btn-block" (click)="addnewTemplate()">
          Next <i class="fa fa-arrow-right"></i>
          </button>
        </div>

      </div>
      <div class="col-md-3 "></div>
    </div> -->
  </form>


</div>