<ol class="breadcrumb">
    <app-breadcrumb>

    </app-breadcrumb>
    <li class="breadcrumb-menu">
        <app-actionbtn #actionbar [buttons]="buttons" (onaction)="buttonClicks($event)"></app-actionbtn>

    </li>
</ol>

<div class="fixed-content">

    <div class="row">

        <div class="col-md-8 bg-white p-3">
            <div class="row">
                <div class="col-md-12 mb-3">

                    <p-radioButton name="group1" value="temp" label="Template" [(ngModel)]="type" inputId="temp">
                    </p-radioButton>

                    <p-radioButton name="group1" class="ml-4" value="env" label="Envelope" [(ngModel)]="type"
                        inputId="env">
                    </p-radioButton>



                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group" *ngIf="type == 'doc'">
                        <label for="">Template Id</label>
                        <input type="text" [(ngModel)]="temp_env_id" placeholder="Enter valid template id" name="temp"
                            class="form-control">
                    </div>
                    <div class="form-group" *ngIf="type == 'env'">
                        <label for="">Envelope Id</label>
                        <input type="text" [(ngModel)]="temp_env_id" placeholder="Enter valid Envelope id" name="env"
                            class="form-control">
                    </div>
                </div>

                <div class="col-md-12">

                    <h4>Recipients</h4>

                </div>
                <div class="col-md-12" *ngFor="let item of Recipients;let i = $index;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Key</label>
                                <input type="text" [(ngModel)]="item.key" placeholder="Enter Key" name="key{{i}}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" [(ngModel)]="item.name" placeholder="Enter Name" name="name{{i}}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" [(ngModel)]="item.email" placeholder="Enter Email" name="email{{i}}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-1" style="
                        display: flex;
                        align-items: center;
                    ">
                            <button (click)="onRemove($event , i)" class="btn btn-danger btn-sm"><i
                                    class="fa fa-trash"></i></button>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <button (click)="onAddRecipeint($event)"
                                class="btn btn-success btn-sm d-block mt-2 pl-5 pr-5"><i class="fa fa-plus"></i> Add
                                More..</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mt-4">

                    <h4>Fields Map</h4>

                </div>
                <div class="col-md-12" *ngFor="let item of Fields;let i = $index;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Property</label>
                                <input type="text" [(ngModel)]="item.prop" placeholder="Enter Property" name="key{{i}}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-1">
                            =
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Value</label>
                                <input type="text" [(ngModel)]="item.value" placeholder="Enter Value" name="name{{i}}"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-1" style="
                        display: flex;
                        align-items: center;
                    ">
                            <button (click)="onRemoveProperty($event , i)" class="btn btn-danger btn-sm"><i
                                    class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <button (click)="onAddProperty($event)"
                                class="btn btn-success btn-sm d-block mt-2 pl-5 pr-5"><i class="fa fa-plus"></i> Add
                                More..</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Response</h5>
            {{response | json}}
        </div>
    </div>