.input-addon{
    padding: 4px;
    border-radius: 0px;
    margin-right: -1px;
    z-index: 1;
    border: 1px solid #ccc;
    border-right: 0px;
}

.doc-panel{
    padding: 15px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
   background-color: #fff;
    border: 1px solid #dee2e6;  
    height:200px;
    width: 150px;
    display: flex;
    flex-direction: column;
  }