<style>
  .newfileUpload .sdss {
    background-color: chocolate;
  }
</style>

<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <span style="text-transform: capitalize;padding-left: 5px;"> </span>

  <li class="breadcrumb-menu">
    <app-actionbtn [isfav]="isfav"></app-actionbtn>

  </li>
</ol>
<div class="fixed-content" *ngIf="!showreci">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 ">
      <p-card header="Add New Template">


        <!-- <div class="row"><div class="col-md-4"></div>
                
                <div class="col-md-4"></div>
              </div> -->

        <div class="row mt-3">

          <div class="col-md-12 mt-2">
            <div class="form-group">
              <label>Name</label><span class="text-danger">*</span>
              <input class="form-control" id="name" name="name" type="text" autocomplete="off" required tabindex="1"
                placeholder="Enter Template Name" minlength="1" maxlength="10">
            </div>
            <small>
              <!-- <div *ngIf="f.submitted && code.invalid" class="text-danger">
                <div *ngIf="code.errors.required" data-tab="1">code is required
                </div>
              </div> -->
            </small>
          </div>
          <div class="col-md-12 mt-2">
            <div class="form-group">
              <label>Tags</label><span class="text-danger">*</span>
              <input class="form-control" id="tag" name="tag" type="text" autocomplete="off" required tabindex="1"
                placeholder="Enter Tags" minlength="1" maxlength="10">
            </div>
            <small>
              <!-- <div *ngIf="f.submitted && code.invalid" class="text-danger">
                <div *ngIf="code.errors.required" data-tab="1">tags is required
                </div>
              </div> -->
            </small>
          </div>
          <div class="col-md-12 mt-2">

            <p-fileUpload [multiple]="false" styleClass="newfileUpload" name="img[]" tabindex="15" [url]="upload_url"
              mode="advanced" #imgUpload2 maxFileSize="{{uploadMaxFilesize}}" (onSelect)="selectFile($event,imgUpload2)"
              (onUpload)="onFileUpload($event,imgUpload2,imgpreview,3,i)"
              (onBeforeSend)="onFileBeforeUpload($event,'exclusive','mobilebanner')"
              (onProgress)="onFileUploadProgress($event,imgUpload2)" auto="true" [chooseLabel]="'Upload PDF'"
              accept="image/*">
              <ng-template pTemplate="toolbar">
                <div class="text-danger d-block text-center">*Only PDF file allowed</div>
              </ng-template>
              <ng-template pTemplate="content">
                <div style="height: 100px;" class="upload-container">
                  <div class="row">
                    <div class="col-md-12 text-center mt-3">
                      <img src="/assets/img/brand/upload.png" style="width: 50px;height: auto;">
                      <span class="d-block text-center mt-4">Drop file here</span>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-fileUpload>

          </div>

          <div class="col-md-12 mt-2">
            <div class="form-group">
              <label>Description</label><span class="text-danger">*</span>
              <textarea class="form-control" id="tag" name="tag" rows="3" type="text" autocomplete="off" required tabindex="1"
                placeholder="Enter Description" minlength="1" maxlength="10"></textarea>
            </div>
            <small>
              <!-- <div *ngIf="f.submitted && code.invalid" class="text-danger">
                <div *ngIf="code.errors.required" data-tab="1">tags is required
                </div>
              </div> -->
            </small>
          </div>

        </div>
        <div class="row">

          <div class="col-md-12 text-center">

            <button (click)="enableRecipient()" class="btn btn-success btn-lg mt-2 pl-5 pr-5" type="button"
              translate="">Next &nbsp;<i class="fa fa-arrow-right"></i>
            </button>
          </div>
          <div class=""></div>
        </div>
      </p-card>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <app-recipient *ngIf="showreci" [arraydata]="array"></app-recipient>
  </div>
 
</div> -->