<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <span style="text-transform: capitalize;padding-left: 5px;"> </span>

  <li class="breadcrumb-menu">
    <app-actionbtn [buttons]="buttons" (onaction)="buttonClicks($event)" ></app-actionbtn>
  </li>
</ol>
<div class="fixed-content p-0">
  <i-docsigneditor #docsign [offlineSaving]="false" [reduceHeight]="155" (onObjectSelected)="onObjectSelected($event)"
    (onObjectDeselected)="onObjectDeselected($event)" [zoom]="0.8" [toolbarBg]="'#e7edee'" [options]="options"
    [recipients]="recipients"></i-docsigneditor>
</div>