<div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="form-group">
          <label>Id </label><span class="text-danger">*</span>
          <input class="form-control" id="id" name="id" #id="ngModel" type="text" [(ngModel)]="recipient.id"
            autocomplete="off" required tabindex="1" placeholder="Id" minlength="1" maxlength="50">
          <small>
            <div *ngIf="f.submitted && id.invalid" class="text-danger">
              <div *ngIf="id.errors.required">Id is required</div>
            </div>
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="form-group">
          <label> Recipient type</label><span class="text-danger">*</span>
          <select class="form-control" #rtype="ngModel" [(ngModel)]="recipient.rectype" required tabindex="2"
            name="rectype" id="rectype">
            <option value="">Select recipient type</option>
            <option *ngFor="let item of rectype" [value]="item.id">{{item.desc}}</option>
          </select>
          <small>
            <div *ngIf="f.submitted && rtype.invalid" class="text-danger">
              <div *ngIf="rtype.errors.required">Recipient type is required</div>
            </div>
          </small>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="form-group">
          <label> Name</label><span class="text-danger">*</span>
          <input class="form-control" id="usrname" name="usrname" #usrname="ngModel" type="text" [(ngModel)]="form.name"
            autocomplete="off" required tabindex="2" placeholder=" Name" minlength="1" maxlength="50">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="form-group">
          <label> Email</label><span class="text-danger">*</span>
          <input class="form-control" id="email" name="email" #email="ngModel" type="text" [(ngModel)]="form.email"
            autocomplete="off" required tabindex="2" placeholder=" Email" minlength="1" maxlength="50">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="form-group">
          <label> Email Body</label><span class="text-danger">*</span>
          <textarea class="form-control" rows="4" id="usrname" name="usrname" type="text" autocomplete="off" required
            tabindex="2" placeholder=" Name" minlength="1" maxlength="50"></textarea>
        </div>
      </div>
    </div>
  </div> -->
</div>