<ol class="breadcrumb">
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-item">
    Dashboard
  </li>
  <li class="breadcrumb-menu d-md-down-none">
    <!--<app-breadcrumb></app-breadcrumb> -->
   
  </li>
</ol>
<div class="fixed-content">




  <div class="animated fadeIn">
    <div class="row">
     
    <div class="col-sm-6 col-lg-3"  >
      <div class="card text-white bg-info">
          <div class="card-body pb-0">

           <div class="text-value"> {{totalEnv}}  <i class="fa fa-envelope"></i> </div>
              <div>Total Envelopes</div>
          </div>

      </div>
  </div>
  <div class="col-sm-6 col-lg-3"  >
    <div class="card text-white bg-warning">
        <div class="card-body pb-0">

           <div class="text-value">{{totalTemplate}}  <i class="fa fa-code"></i></div>
            <div>Total Templates</div>
        </div>

    </div>
</div>
<div class="col-sm-6 col-lg-3"  >
  <div class="card text-white bg-success">
      <div class="card-body pb-0">

          <div class="text-value">{{completedTemp}}  <i class="fa fa-check"></i> </div>
          <div>Completed</div>
      </div>

  </div>
</div>
<div class="col-sm-6 col-lg-3"  >
  <div class="card text-white bg-danger">
      <div class="card-body pb-0">

          <div class="text-value">{{pendingTemplate}}  <i class="fa fa-hourglass-half"></i> </div>
          <div>Pending</div>
      </div>

  </div>
</div>
     
   
    </div>
   
 
 
   
 
    
  </div>
</div>