<ol class="breadcrumb">
    <app-breadcrumb>

    </app-breadcrumb>
    <li class="breadcrumb-item active" *ngIf="selectedenvelope.id">&nbsp;<span
            tabindex="0">{{selectedenvelope.name}}</span></li>
    &nbsp;&nbsp; <li>


    </li>

    <li class="breadcrumb-menu">
        <app-actionbtn #actionbar [buttons]="buttons" (onaction)="buttonClicks($event)"></app-actionbtn>

    </li>
</ol>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">Envelope</h4>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
 
    <form name="form" #f="ngForm" novalidate (ngSubmit)="f.form.valid && save()">
      
        <div class="modal-body modal-lg">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Envelope Name</label><span class="text-danger">*</span>
                        <input (input)="generateKey()" class="form-control" id="envname" name="envname" #envname="ngModel" type="text"
                            [(ngModel)]="form.envname" autocomplete="off" required tabindex="2"
                            placeholder="Envelope Name" minlength="1" maxlength="50">
                        <div *ngIf="f.submitted && envname.invalid" class="text-danger">
                            <div *ngIf="envname.errors.required" data-tab="1">Envelope Name is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Key</label> 
                        <input class="form-control" readonly id="key" name="key" #key="ngModel" type="text"
                            [(ngModel)]="form.key" autocomplete="off"   tabindex="2"
                            placeholder="Envelope Name" minlength="1" maxlength="50">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button class="btn text-white btn-success btn-sm" type="submit"><i class="fa fa-save"></i>&nbsp;
                Save</button>
        </div>

    </form>

</ng-template>

<ng-template #template1>
    <div class="modal-header">
        <h4 class="modal-title">Template</h4>
        <button type="button" class="close" (click)="closeModal1()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <!-- <h4 class="modal-title text-center mt-2">Templates</h4> -->
        <div class="d-flex p-2" style="justify-content: center;">
            <!-- <span class="p-input-icon-left">

                <input style="width: 80%;" type="text" (input)="searchTemplates()" pInputText
                    [(ngModel)]="searchtemplatestring" placeholder="Search Template"> <i class="pi pi-search"
                    (click)="searchTemplates()"></i>

            </span> -->

            <div class="ui-inputgroup" style="width: 100%;">

                <input type="text" [(ngModel)]="searchtemplatestring" (input)="searchTemplates()" class="form-control"
                    pInputText placeholder="Search Template">
                <span class="ui-inputgroup-addon input-icon"><i class="pi pi-search"
                        (click)="searchTemplates()"></i></span>
            </div>

        </div>

        <div class="row">

            <div class=" col-md-12 text-center mt-4" *ngIf="noTemplatefound">
                <h4>No Template found!</h4>
            </div>
            <!--  ml-4 -->
            <div *ngFor="let item of templateList;let i=index">

                <div class="col-md-3 mb-3" *ngIf="item.show" [ngClass]="{'checkedcls': item.checked}">
                    <div class="templatecontainer" (click)="onTemplateSelected
                    (item)">
                        <input [(ngModel)]="item.checked" size="16" id="parent{{i}}" input type="checkbox"
                            name="parent{{i}}" />
                        <div class="template-wrap">
                            <img class="doc-thumb-container" [src]="urlHandle(item.src)">
                            <!-- <pdf-viewer [src]="urlHandle(item.thumbnail)" [render-text]="true"></pdf-viewer> -->
                        </div>



                        <div class="doc-name-wrap mt-5">
                            <div>{{item.name}}</div>
                        </div>

                    </div>
                </div>





                <!-- <app-docthumb [item]="item"></app-docthumb> -->

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn text-white btn-danger btn-sm" type="submit"><i class="fa fa-close"></i>&nbsp;
            Cancel</button>
        <button class="btn text-white btn-success btn-sm" type="submit" (click)="addTemplate()"><i
                class="fa fa-plus"></i>&nbsp;
            Add</button>
    </div>
</ng-template>

<div class="fixed-content">

    <div class="left-bar-fixed">
        <div class="content-wrapper">
            <div class="action-bar">
                <div class="d-flex p-2" style="justify-content: center;">
                    <button class="btn btn-success btn-xs" type="button" (click)="open()"><i class="icon-plus"></i>
                        Add New Envelope</button>
                </div>
                <div class="d-flex p-2" style="justify-content: center;">
                    <!-- <span class="p-input-icon-left">

                        <input style="width: 80%;" type="text" pInputText [(ngModel)]="searchstring"
                            (input)="checkEmptyEnvolope()" placeholder="Search Envelope"> <i class="pi pi-search"
                            (click)="searchEnvolope()"></i>

                    </span> -->
                    <!-- <input type="text" [(ngModel)]="searchstring" (input)="searchEnvolope()" class="form-control"
                        pInputText placeholder="Search Envelope">
                    <span class="ui-inputgroup-addon input-icon"><i class="pi pi-search"
                            (click)="searchEnvolope()"></i></span> -->


                    <div class="ui-inputgroup" style="width: 100%;">

                        <input type="text" [(ngModel)]="searchstring" (input)="searchEnvolope()" class="form-control"
                            pInputText placeholder="Search Envelope">
                        <span class="ui-inputgroup-addon input-icon"><i class="pi pi-search"
                                (click)="searchEnvolope()"></i></span>
                    </div>
                </div>

            </div>
            <div class="ml-4" *ngIf="envelopeList.length <= 0">
                {{noEnvmsg}}
            </div>
            <div class="text-center" *ngIf="showLoader">
                <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
            </div>
            <!--  -->
            <!-- <p-menu #menu [popup]="true" [model]="items"></p-menu> -->
            <div class="scroll-content">

                <div *ngFor="let item of envelopeList ;let i=index;"
                    [ngClass]="{'eactive': selectedenvelope.id == item.id}" class="envelope mb-0 d-flex"
                    (click)="onColumnClick(item)">
                    <i class="fa fa-envelope align-self-center mr-1"></i>
                    <span class="align-self-center" style="flex:1;line-height: 1;font-size: 13px;">{{item.name}}</span>
                    <!-- <button type="button" style="background-color: transparent;" class="align-self-end  border-0"
                        label="" (click)="menu.toggle($event);"><i class="fa fa-ellipsis-v"></i></button> -->
                </div>

            </div>

        </div>
    </div>

    <!-- <div *ngIf="showDocspinner">
        <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
    </div> -->

    <!-- <div class="row"> -->
    <!-- <div class="col-md-10"> -->


    <div class="main-content">
        <div class="props">
            <p class="mt-0 mb-0" *ngIf="onColclickid"><small>Envelope Id : </small><span
                    class="badge badge-success badge" style="height: auto;">{{onColclickid}}</span></p>
            <p class="mt-0 mb-0" *ngIf="uniqueRecepientheadList.length > 0">
                <small>Keys : </small> <span class="badge badge-secondary badge mr-2 pr-2 pl-2"
                    *ngFor="let item of uniqueRecepientheadList" style="height: auto;">
                    {{item.id}}</span>
            </p>

        </div>
        <div *ngIf="!isloading && onColclickid && documentsDeatilList.length <= 0" class="d-block text-center bg-white p-5" id="show">
            <div class="d-block text-center"><i class="fa  fa-file-text-o fa-3x"></i></div>
            No Document Avaliable!
            <div class="d-block text-center">
                <button class="btn btn-success btn-sm mt-2" (click)="buttonClicks('add')" type="button" translate=""><i class="icon-plus"></i> Add
                    Templates In Envelope</button>
            </div>

        </div>


        <div *ngIf="!onColclickid" id="show" class="d-block text-center bg-white p-5">

            <div class="d-block text-center"><i class="fa fa-hand-pointer-o fa-3x"></i></div>
            Please select Envelope!

        </div>


        <div class="content-wrapper">

            <div class="row">

                <div class="col-md-3 mb-3" *ngFor="let item of documentsDeatilList">



                    <app-docthumb [item]="item" (onEdit)="editTemplate($event)" (onDelete)="deleteTemplate($event)" (onSend)="sendTemplate($event)"></app-docthumb>
                   

                </div>
            </div>



        </div>
    </div>
    <!-- </div>   -->
    <!-- class="col-md-2" -->
    <!-- <div   *ngIf="documentsDeatilList.length > 0">
            <div class=" card">
                <div class="text-center">
                    <h4> <label>IDS</label> </h4>
                </div>
             

            </div>
        </div> -->


    <!-- <div class="card-body p-0">


        <div class="row">

        <div class="col-md-12 ">
                    <button  class="btn btn-primary btn-sm mt-2" type="button"
                    translate="">Add Envelope<i class="fa fa-plus"></i>
                </button>
                    </div>
    <div class="col-md-4 ">
        <div style="display: flex">
            <div style="width: 100%">
                <div *ngFor="let item of documentList;let i=index;" class="pop1 mb-1"
                    (click)="onColumnClick(i)">
                    <i class="fa fa-envelope"></i>
                    {{item.name}} <small class="text-danger" style="
                position: absolute;
                right: 14px;
                font-size: 12px;
                font-weight: bold;
                "></small>
                </div>
            </div>
        </div>
    </div> 
            <div class="col-md-8">
                <p-card *ngIf="showDocpannel">
                    <strong>Envelope {{envNo+1}}</strong>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let item of documentsDeatilList">

                            <div class="doccontainer">
                                <div>{{item.name}}</div>
                                <img *ngIf="item.src != '' " src="{{item.src}}"
                                    style="width: 80% ; border: 2px solid Black;">

                                <br>

                                <button *ngIf="item.src != '' " class="btn btn-primary btn-sm mt-2" type="button"
                                    translate=""><i class="fa fa-eye"></i>
                                </button>
                            </div>


                        </div>
                    </div>
                </p-card>
            </div>

        </div>

    </div> -->


</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>