.pop{
    height: 27px;
    cursor: move;
    /* margin-left: 20px; */
    border: 1px solid #bbbbbb;
    margin-bottom: 3px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
  
    padding-left: 25px;
    background-color: #e7edf1;
    color: #333333;
    background-color: #f4f4f4;
    background: #f2f6f8;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f2f6f8), color-stop(50%, #d8e1e7), color-stop(51%, #b5c6d0), color-stop(100%, #e0eff9));
    /* background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); */
    background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0);
      
  }
  .cdk-drop-list-dragging .cdk-drag {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    
    .cdk-drag-animating {
      transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
    }
  
    .reducepadd tr td {
      padding: 3px!important;
  }
  
  .white{
    background: #f0f3f5;
    color: #333;
    font-weight: 600;
    font-size: 13px;
    line-height: 28px;
    text-align: right;
  }
  
  .selected{
   animation: float 4s ease-in-out infinite;
    margin-left: 5px;
    font-weight: 600;
    margin-left: 5px;
    font-weight: 600;
    color: #941d00;
    font-size: 17px;
  }
  
  span.newOrder {
    border: 1px solid #f88;
    background-color: #e1e8ed;
    position: absolute;
    left: 5px;
    width: 27px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    height: 19px;
  }
  
  
  @keyframes float {
      0% {
          box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
      50% {
          box-shadow: 0 15px 10px 0px rgba(0,0,0,0.2);
          transform: translatey(-3px);
      }
      100% {
          box-shadow: 0 5px 10px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
  }


  .prodcontainer {
    width: 50%;
  
    /*border-radius: 25px;*/
    border: 2px solid Black;
    height: 50px;
    background: #d8e1e7;
   
    position: relative;
    background-color: #e7edf1;
    color: #333333;
    background-color: #f4f4f4;
    background: #f2f6f8;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f2f6f8), color-stop(50%, #d8e1e7), color-stop(51%, #b5c6d0), color-stop(100%, #e0eff9));
    /* background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); */
    background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0);
  }

  #ordbutton {
    
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -7px;
}

#prodord {
    
 
  color: black;
 


  border: 1px solid #f88;
    background-color: #e1e8ed;
    position: absolute;
    top: 7px;
  left: -7px;
  width: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    height: 19px;
}


.pop1{
    
      
  }


  .left-bar-fixed{
    position: absolute;
    height: inherit;
    width: 200px;
    margin-left: -15px;
    margin-top: -15px;
    background-color: #ccc;
    border-right: 1px solid #c8ced2;
  }
  .content-wrapper {
    position: relative;
    display: block;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}
  .action-bar {
   
    width: 100%;
    background-color: #f4f4f4;
    background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
    border-bottom: 1px solid #c8ced2;
}

  .scroll-content{
    flex: 1;
    overflow: auto;
    display: block;
  }

  .envelope{
    border-bottom: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #6fa86e;
    padding: 0.714em 0.557em;
    font-weight: 400;
    position: static;
    font-size: 14px;
    transition: background-color 0.2s;
    margin: 0;
    cursor: pointer;
  }

  .envelope:hover{
    border-bottom: 1px solid #004229;
  }

  .envelope.eactive {
    background-color: #4dbd74;
    border-bottom: 1px solid #004229;
    color: #ffffff;
    font-weight: bold;
    padding-left: 12px;
  }

  .main-content {
    margin-left: 205px;
    min-height: 300px;
   
}

#show {
    /* flex-wrap: wrap; */
    /* margin-right: -15px; */
    margin-left: 550px;
    /* right: 500px; */

    margin-top: 250px;
}

.templatecontainer{
  padding: 15px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
 background-color: #fff;
  border: 1px solid #dee2e6;  
  height:200px;
  display: flex;
  flex-direction: column;
  width: 150px;
  border-radius: 5px;
}

.templatecontainer .template-wrap{
  padding:2px;
  flex: 1;
  width: 120px;
  justify-self: flex-end;
  align-self: flex-end;
   
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  overflow: hidden;


}
.checkBox {
  top: 5px;
}

.badge{
  font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}