<ol class="breadcrumb">
    <app-breadcrumb>

    </app-breadcrumb>
    <li class="breadcrumb-menu">
        <app-actionbtn #actionbar [buttons]="buttons" (onaction)="buttonClicks($event)"></app-actionbtn>

    </li>
</ol>

<div class="fixed-content p-0">

    <div class="left-bar-fixed">
        <div class="content-wrapper">
            <div class="action-bar">
                <div class="d-flex p-2" style="justify-content: center;">
                    <button class="btn btn-success btn-xs"><i class="icon-plus"></i> Create New</button>
                </div>


            </div>
            <div class="scroll-content">
                <ul class="sidenav list-group p-3">
                    <a (click)="onLeftClick('all')" [ngClass]="{'active': section == 'all'}">
                        <i class="fa fa-circle"></i>
                        <span class="ml-1">All</span>
                    </a>
                    <a (click)="onLeftClick('pending')" [ngClass]="{'active': section == 'pending'}">
                        <i class="fa fa-warning"></i>
                        <span class="ml-1">Pending</span>
                    </a>
                    <a (click)="onLeftClick('sent')" [ngClass]="{'active': section == 'sent'}">
                        <i class="fa fa-send"></i>
                        <span class="ml-1">Sent</span>
                    </a>
                    <a (click)="onLeftClick('draft')" [ngClass]="{'active': section == 'draft'}">
                        <i class="fa fa-pencil"></i>
                        <span class="ml-1">Drafts</span>
                    </a>
                    <a (click)="onLeftClick('deleted')" [ngClass]="{'active': section == 'deleted'}">
                        <i class="fa fa-trash"></i>
                        <span class="ml-1">Deleted</span>
                    </a>
                </ul>
            </div>

        </div>
    </div>

    <div class="main-content">

        <div class="d-block p-4 bg-white" style="height: 80px;position: sticky;top:0;">
            <div class="d-flex" style="flex: 1;">
                <h2 style="flex: 1;">ALL</h2>
                <div>
                    <input placeholder="Type here to search..." (input)="searchData()" [(ngModel)]="searchString">
                </div>
            </div>


        </div>
        <div class="document_table_wapper">
            <table class="document_table">
                <thead>
                    <tr>
                        <th class="doc_checkbox"></th>
                        <th class="doc_icon">

                        </th>
                        <th class="doc_title">
                            <span>Subjet</span>
                        </th>
                        <th class="doc_status">
                            <span>Status</span>
                        </th>
                        <th class="doc_date">
                            <span>Last Changed</span>
                        </th>
                        <th class="doc_action"></th>
                    </tr>

                </thead>
                <tbody >
                    <tr *ngFor="let item of items">
                       
                        <td class="doc_checkbox">
                            <input type="checkbox" class="">
                        </td>
                        <td class="doc_icon">
                            <i class=" {{item.type=='e' ? 'fa fa-envelope-o': 'fa fa-file-pdf-o'}}"></i>
                        </td>
                        <td class="doc_title">
                          
                            <span class="subject_title">{{item.subject}}</span>
                            <!-- <span class="subtext">To : {{item.to}}</span> -->
                        </td>
                        <td class="doc_status">
                            <span>{{item.status}}</span>
                        </td>
                        <td class="doc_date">
                            <span>{{item.last_changed}}</span>
                        </td>
                        <td class="doc_action">
                            <button class="btn btn-xs btn-primary">Action <i class="fa fa-arrow-down"></i></button>

                        </td>
                        
                    </tr>
                </tbody>
                <tfoot *ngIf="items.length == 0">
                    <tr class="text-center">
                        <td colspan="6">
                            <h4>No data Available</h4>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>

</div>