.gridSearchWidth{
    max-width: 35%!important;
    flex:none;
}
.gridSearchInputWidth{
    max-width: 40%!important;
    flex:none;
}

.selectedRowChange{
    background-color: #8f8f8f !important;
    color: #fff!important;

}
 